body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('background2.png');                   
}

.column {
    width: 50%;
    height: 100vh;
    float: left;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}


.logo-container{

    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    height: auto; 
}

.logo{
    height: clamp(30px, 150px, 500px);
    width: clamp(30px, 150px, 500px);
    opacity: 100%;
}


